@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,400i,700');
html {
  font-size: 16px;
  line-height: 1.6;
}
body {
  font-family: 'Roboto Condensed', sans-serif;
  color: SlateGray ;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}
h1 {
  font-size: 2rem;
}
h2 {
  font-size: 1.5rem;
}
h3 {
  font-size: 1.25rem;
}
h1,h2,h3,h4,h5,span {
  display: block;
}


.button {
  width: 100%;
  background-color: darkgrey;
  text-align: center;
  padding-top: 8px;
  padding-bottom: 8px;
  color: white;
}

/*reuseable stlyes*/

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.flex {
  display: flex;
  flex-wrap: wrap;
}


/*************** Header ***************/

header {
  z-index: 1;
  width: 100%;
  height: 64px;
  border-bottom: ;
  background-color: white;
  overflow: hidden; /*so the nav spans will hide instead of appearing below the header*/
}

.logo {
  font-size: 1.5rem;
  flex-grow: 1;
  display: flex;
  align-items: center;
}

header img {
  height: 100%; /*so it fills up*/
  width: 3rem;
  padding-left: 24px;
}

header nav {
  display: flex;
  align-items: center;
  padding-right: 1.5rem;
}

header nav span {
  display: inline-block;
  padding-left: 1rem;
}


/*************** Jumbotron ***************/
.jumbotron {
  background-color: AliceBlue;
  align-content: flex-start;
  padding: 32px 0;
}
.banner {
  max-width: 60%;/*change size depending on view. This needs to be 100% when on mobile*/
  margin-left: 24px;
}
.banner img{
  width: 100%; /*to fill the banner with the image*/
}
.banner-card {
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  max-width: 30%;
  margin-left: 24px;
}
.banner-card.text-content {
  height: 100%;
  display: flex;
  align-content: space-between;
  justify-content: center;
  align-items: space-between;
}
h1, h2,h3,h4 p {
  display: block;
}



/*************** General styling for sections ***************/
video, img {
  width: 100%;
  height: auto;
}

.whole-section {
  padding-bottom: 32px;
}
.title-section {
  width: 100%;
  text-align: center;
  padding: 32px 0 ;
  font-size: 2rem;

}
.left-section {
  width: 60%;
  margin-top: 32px;
}
.right-section {
  width: 40%;
  margin-top: 16px; /*16 + 16padding from cards = 32 to line up with left pic*/
}
.bigpic-section {
  margin: 0 24px;
  display: flex;
}
.img-large {
  width:100%;
  height: auto;
}
.card-section {
  flex-wrap: nowrap;/*so the description section wont drop below the picture*/
  width: 100%;
  max-height: 33%;
  padding: 16px;
  align-items: center;
  border-left: 1px solid lightgrey;
}
.card-section > .description {
  max-width: 65%;
}
.card-section:hover {
  background-color: lightgrey;
}
.img-small {
  width: 35%;
  height: auto;
}
.description {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: baseline;
}
.description span {
  margin-top: 8px;
  display: block;
}
.description a {
  color: #0136BB;
}
.description span:first-child {
  font-weight: bold;
  font-size: 1.5rem;
}
.card-section > .description span {
  margin-left: 16px;
}
.bigpic-section > .description span:first-child{
  margin-top: 16px;
  margin-bottom: 16px;
  font-size: 2rem;
}
.bigpic-section > .description span:last-child{
  margin-top: 32px;
}
.bigpic-section > .description {
  height: 100%;
}


/*****************************************************************************/

/*************** courses ***************/

#courses {
  background-color: lightgrey;
}
.topic {
  margin: 32px 0px;
  width: 100%;
  text-align: center;
}
.courses {
  margin: 0 64px 16px 64px;/*used 16px less than spec sheet because the margin of the cards*/
  justify-content: center;
  max-width: 1200px; /*to keep a min of 2 cards at bottom*/
}
.course-card {
  width: 250px;
  margin: 16px;
  background-color: white;
}
.course-card >.description {
  margin: 8px 0 24px 16px;
}
.course-img {

}

.course-card >.description {
  flex-direction: column;
  margin-bottom: 24px;
}



/*************** thesis ***************/
#thesis >.right-section {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}



/**************footer ********************/
footer {
  margin: 0px 24px;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid lightgrey;
  padding: 16px 0;

}
